<div class="flex align-items-center justify-content-between px-3 py-2">
  <!-- Left Section: Logo and App Name -->
  <div class="flex align-items-center">
    <div class="mr-5">
      <app-sidebar></app-sidebar>
    </div>
    <a routerLink="">
      <span class="inline-flex align-items-center gap-2">
        <img
          src="/BaytLogo.png"
          alt=""
          width="33"
          height="35"
          class="block mx-auto"
        />
        <span class="font-semibold text-2xl text-primary">Bayt Al-Amana</span>
      </span>
    </a>
  </div>

  <div class="flex align-items-center gap-3">
    <a
      pRipple
      class="flex align-items-center cursor-pointer gap-2 border-round text-700 transition-duration-150 transition-colors p-ripple"
      routerLink="/profile"
    >
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
      />
    </a>
  </div>
</div>
<router-outlet />
