<div class="grid surface-ground min-h-screen p-4 animated-gradient">
  <!-- Left Column: Investment Details Card -->
  <div class="col-6 card flex justify-content-center">
    <p-card
      header="{{ investment.name }}"
      subheader="{{ investment.location }}"
      [style]="{
        width: '360px',
        'border-radius': '12px',
        'box-shadow': '0 4px 12px rgba(0, 0, 0, 0.1)'
      }"
    >
      <!-- Card Header with Image -->
      <ng-template pTemplate="header">
        <p-galleria
          [value]="images"
          [numVisible]="5"
          [circular]="true"
          [showItemNavigators]="true"
          [showThumbnails]="false"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'max-width': '640px' }"
        >
          <ng-template pTemplate="item" let-image>
            <iframe
              [src]="image.safeIframeUrl"
              width="100%"
              height="250"
              frameborder="0"
              loading="lazy"
              sandbox="allow-scripts allow-same-origin"
              style="border-radius: 8px; overflow: hidden"
            ></iframe>
          </ng-template>
        </p-galleria>
      </ng-template>

      <!-- Card Content -->
      <div style="padding: 1rem 0" class="justify-content-center">
        <h3>Start Date: {{ investment.date }}</h3>
        <h3>Expected Close Date: {{ investment.expectedCloseDate }}</h3>
        <h3>
          Status:
          <span class="text-primary">{{
            investment.status === 1
              ? "Open"
              : investment.status === 2
              ? "In-Progress"
              : investment.status === 3
              ? "Closed"
              : "Unknown"
          }}</span>
        </h3>
        <h3>Investor Count: {{ investment.investorCount }}</h3>
        <h3>Total Initial Funding: {{ investment.funding | currency }}</h3>
        <h3>Total Expenditures: {{ investment.fundingGoal | currency }}</h3>
        <p-progressBar [value]="progressValue.toFixed()" />
      </div>

      <!-- Card Footer with Buttons -->
    </p-card>
  </div>

  <!-- Right Column: Notes Card -->
  <!-- Right Column: Notes Card -->
  <div
    class="col-6 card"
    style="
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 1rem;
    "
  >
    <p-table
      [value]="updates"
      styleClass="w-full"
      [scrollable]="true"
      scrollHeight="400px"
      selectionMode="single"
      dataKey="code"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Cost</th>
          <th>Description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-update>
        <tr>
          <td>{{ update.date }}</td>
          <td>${{ update.cost }}</td>
          <td>{{ update.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
