<div
  class="grid pt-3"
  style="
    background: linear-gradient(to right, #f8f9fa, #eceef1);
    min-height: 100vh;
    padding: 2rem;
  "
>
  <!-- Left Column: Investment Details Card -->
  <div class="col-6">
    <div
      class="card flex justify-content-center shadow-3 border-round"
      style="padding: 2rem; background-color: white"
    >
      <p-card
        header="{{ investment?.name }}"
        subheader="{{ investment?.location }}"
        [style]="{
          width: '360px',
          'border-radius': '12px',
          'box-shadow': '0 4px 12px rgba(0, 0, 0, 0.1)'
        }"
      >
        <!-- Card Header with Image -->
        <ng-template pTemplate="header">
          <img
            alt="Investment Image"
            src="https://picsum.photos/350/350"
            style="
              border-radius: 12px;
              width: 100%;
              height: 200px;
              object-fit: cover;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          />
        </ng-template>

        <!-- Card Content -->
        <div style="padding: 1rem 0" class="justify-content-center">
          <h3>Start Date: {{ investment?.date }}</h3>
          <h3>Expected Close Date: 02/15/2025</h3>
          <h3>Status: <span class="text-primary">In-Progress</span></h3>
          <h3>Investor Count: {{ investment?.investorCount }}</h3>
          <h3>Total Initial Funding: $130,000</h3>
          <h3>Total Expenditures: $42,900</h3>
          <p-progressBar [value]="33" />
        </div>

        <!-- Card Footer with Buttons -->
      </p-card>
    </div>
  </div>

  <!-- Right Column: Notes Card -->
  <div class="col-6">
    <div
      class="card flex justify-content-center shadow-3 border-round"
      style="padding: 2rem; background-color: white"
    >
      <p-table
        [value]="updates"
        [scrollable]="true"
        scrollHeight="400px"
        selectionMode="single"
        dataKey="code"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Date</th>
            <th>Cost</th>
            <th>Description</th>
            <!-- <th></th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-update>
          <tr>
            <td>{{ update.date }}</td>
            <td>${{ update.cost }}</td>
            <td class="flex-wrap">{{ update.description }}</td>
            <!-- <td>
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [outlined]="true"
                styleClass="p-button-rounded p-button-secondary p-button-outlined shadow-1"
                size="small"
              ></p-button>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
