<!-- Full Page Background -->
<div
  class="flex flex-wrap justify-content-center align-items-center gap-4 mt-6"
>
  <!-- Manage Profile Card -->
  <div class="col-4">
    <div class="surface-card p-4 shadow-2 border-round">
      <div class="text-center justify-content-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Manage Profile</div>
        <span class="text-600 font-medium line-height-3">{{
          selectedInvestor.username
        }}</span>
      </div>
      <div class="justify-content-center mb-5">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
          shape="circle"
          size="xlarge"
        ></p-avatar>
      </div>
      <div>
        <form [formGroup]="investmentForm">
          <div>
            <div class="flex align-items-center justify-content-between mb-6">
              <div class="flex align-items-center">
                <p-inputSwitch
                  formControlName="approved"
                  styleClass="mr-2"
                ></p-inputSwitch>
                <label for="approved" class="text-900">Approved</label>
              </div>
            </div>
            <div class="flex align-items-center justify-content-between mb-6">
              <div class="flex align-items-center">
                <p-inputSwitch
                  formControlName="public"
                  styleClass="mr-2"
                ></p-inputSwitch>
                <label for="public" class="text-900">Public</label>
              </div>
            </div>
            <div class="flex align-items-center justify-content-between mb-6">
              <div class="flex align-items-center">
                <p-inputSwitch
                  formControlName="admin"
                  styleClass="mr-2"
                ></p-inputSwitch>
                <label for="admin" class="text-900">Admin</label>
              </div>
            </div>
            <button
              pButton
              pRipple
              label="Save Profile"
              icon="pi pi-save"
              class="w-full"
              type="submit"
              (click)="saveInvestor()"
            ></button>
          </div>
          <div class="mt-4">
            <button
              pButton
              pRipple
              severity="danger"
              label="Delete Profile"
              icon="pi pi-trash"
              class="w-full"
              (click)="deleteInvestor()"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Message History Card -->
  <div class="col-6">
    <div class="flex-row">
      <div class="surface-card p-4 shadow-2 border-round">
        <div class="text-center justify-content-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            Alerts for {{ selectedInvestor.username }}
          </div>
        </div>
        <div>
          <form [formGroup]="messageForm">
            <div class="col-12 justify-content-center">
              <p-inputGroup>
                <p-inputGroupAddon> Date </p-inputGroupAddon>
                <p-calendar
                  [(ngModel)]="date"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  inputId="updateDate"
                  formControlName="date"
                ></p-calendar>
              </p-inputGroup>

              <p-inputGroup class="mt-2">
                <p-inputGroupAddon>Alert</p-inputGroupAddon>
                <input type="text" pInputText formControlName="message" />
              </p-inputGroup>
              <p-inputGroup>
                <button
                  pButton
                  pRipple
                  label="Save Message"
                  icon="pi pi-save"
                  class="w-full mt-2"
                  type="submit"
                  (click)="saveMessage()"
                ></button>
              </p-inputGroup>
              <p-inputGroup>
                <button
                  pButton
                  pRipple
                  severity="danger"
                  label="Reset"
                  icon="pi pi-replay"
                  class="w-full mt-2"
                  type="button"
                  (click)="resetMessage()"
                ></button>
              </p-inputGroup>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Alert History -->
    <div class="flex-row mt-2">
      <div class="surface-card p-4 shadow-2 border-round">
        <p-table
          [value]="messages"
          [scrollable]="true"
          scrollHeight="400px"
          selectionMode="single"
          [(selection)]="selectedMessage"
          dataKey="code"
          (onRowSelect)="selectMessage()"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Date</th>
              <th style="min-width: 350px">Alert</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-message>
            <tr [pSelectableRow]="message">
              <td>{{ message.date }}</td>
              <td>{{ message.message }}</td>
              <td>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  [outlined]="true"
                  styleClass="p-button-rounded p-button-secondary p-button-outlined shadow-1"
                  size="small"
                  (click)="deleteMessage(message.id)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!--Test-->

<div
  class="surface-ground p-4"
  style="background: linear-gradient(to bottom right, #f2f2f2, #e6e6e6)"
>
  <!-- First Carousel Content Section -->
  <div
    class="flex flex-row flex-wrap mt-6 justify-content-center max-w-full overflow-x-hidden"
  >
    <div
      class="card max-w-full p-4"
      style="
        background-color: white;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">
        {{ selectedInvestor.username }} Investments
      </h2>
      <!-- Section Title -->

      <p-carousel
        [value]="investment"
        [numVisible]="3"
        [numScroll]="1"
        circular="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <!-- Card Container with Padding and Shadow -->
          <div
            class="border-1 surface-border border-round m-2 p-4"
            style="
              width: 250px;
              height: 350px;
              background-color: white;
              border-radius: 16px;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <div class="mb-3">
              <!-- Image with Shadow -->
              <div class="relative mx-auto" style="width: 100%; height: 150px">
                <img
                  src="https://picsum.photos/200/200"
                  [alt]="investment.name"
                  class="w-full h-full border-round"
                  style="
                    object-fit: cover;
                    border-radius: 12px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                  "
                />
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="absolute"
                  [ngStyle]="{
                    'left.px': 5,
                    'top.px': 5,
                    'background-color': '#007bff',
                    color: 'white'
                  }"
                />
              </div>
            </div>

            <div class="mb-3 font-medium text-secondary text-center">
              {{ investment.name }}
            </div>

            <!-- Investment Funding and Buttons -->
            <div class="flex justify-content-between align-items-center">
              <div class="mt-0 font-semibold text-xl text-primary">
                {{ "$" + investment.funding }}
              </div>
              <span>
                <!-- <p-button
                  icon="pi pi-heart"
                  severity="secondary"
                  [outlined]="true"
                  styleClass="p-button-rounded p-button-secondary p-button-outlined shadow-1"
                ></p-button> -->
                <p-button
                  icon="pi pi-times"
                  severity="danger"
                  styleClass="ml-2 p-button-rounded p-button-primary shadow-1"
                  (click)="removeUserFromInvestment(investment.id)"
                ></p-button>
              </span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <!-- Second Carousel Content Section -->
  <div
    class="flex flex-row flex-wrap mt-4 justify-content-center max-w-full overflow-x-hidden"
  >
    <div
      class="card max-w-full p-4"
      style="
        background-color: white;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">Available Investments</h2>
      <!-- Section Title -->

      <p-carousel
        [value]="availableInvestments"
        [numVisible]="3"
        [numScroll]="1"
        circular="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <!-- Card Container with Padding and Shadow -->
          <div
            class="border-1 surface-border border-round m-2 p-4"
            style="
              width: 250px;
              height: 350px;
              background-color: white;
              border-radius: 16px;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <div class="mb-3">
              <!-- Image with Shadow -->
              <div class="relative mx-auto" style="width: 100%; height: 150px">
                <img
                  src="https://picsum.photos/200/200"
                  [alt]="investment.name"
                  class="w-full h-full border-round"
                  style="
                    object-fit: cover;
                    border-radius: 12px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                  "
                />
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="absolute"
                  [ngStyle]="{
                    'left.px': 5,
                    'top.px': 5,
                    'background-color': '#007bff',
                    color: 'white'
                  }"
                />
              </div>
            </div>

            <div class="mb-3 font-medium text-secondary text-center">
              {{ investment.name }}
            </div>

            <!-- Investment Funding and Buttons -->
            <div class="flex justify-content-between align-items-center">
              <div class="mt-0 font-semibold text-xl text-primary">
                {{ "$" + investment.funding }}
              </div>
              <span>
                <!-- <p-button
                  icon="pi pi-heart"
                  severity="secondary"
                  [outlined]="true"
                  styleClass="p-button-rounded p-button-secondary p-button-outlined shadow-1"
                ></p-button> -->
                <p-button
                  icon="pi pi-plus"
                  severity="primary"
                  styleClass="ml-2 p-button-rounded p-button-primary shadow-1"
                  (click)="addUserToInvestment(investment.id)"
                ></p-button>
              </span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
