<div class="surface-ground min-h-screen p-4 animated-gradient text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text">Bayt Al-Amana </span>
    <span class="text-blue-600"> House of Trust</span>
  </div>
  <div class="text mb-6">Investments You Can Trust.</div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-verified text-4xl text-blue-500"></i>
      </span>
      <div class="text text-xl mb-3 font-bold">Built for Investors</div>
      <span class="text line-height-3"
        >Investor first profit sharing. No financial loss on investments.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-wallet text-4xl text-blue-500"></i>
      </span>
      <div class="text text-xl mb-3 font-bold">Impressive ROIs</div>
      <span class="text line-height-3"
        >A carefully crafted profit structure that ensures a high return on
        investment for investors.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-thumbs-up text-4xl text-blue-500"></i>
      </span>
      <div class="text text-xl mb-3 font-bold">Easy to Use</div>
      <span class="text line-height-3"
        >Investments are guarenteed to be hassle free.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-globe text-4xl text-blue-500"></i>
      </span>
      <div class="text text-xl mb-3 font-bold">Fast & Global Support</div>
      <span class="text line-height-3"
        >Our team is focused on supporting investors and providing a smooth
        investment</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-dollar text-4xl text-blue-500"></i>
      </span>
      <div class="text text-xl mb-3 font-bold">Referral Bonus</div>
      <span class="text line-height-3"
        >Refer an investor to Bayt Al-Amana, and receive up to 2% of the entire
        profit
      </span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text text-xl mb-3 font-bold">Trusted Security</div>
      <span class="text line-height-3"
        >All investments are handled by trusted professionals.</span
      >
    </div>
  </div>
</div>
