<div class="surface-ground min-h-screen p-4 animated-gradient">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round" appVanillaTilt>
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3"
              >Investment Count</span
            >
            <div class="text-900 font-medium text-xl">6</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
          </div>
        </div>
        <span class="text-primary font-medium">4 new </span>
        <span class="text-500">since last investment</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round" appVanillaTilt>
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Profit</span>
            <div class="text-900 font-medium text-xl">
              {{ 6220 | currency }}
            </div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-orange-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-map-marker text-orange-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">+52% </span>
        <span class="text-500">since last week</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round" appVanillaTilt>
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3"
              >Available Investment</span
            >
            <div class="text-900 font-medium text-xl">
              {{ 18240 | currency }}
            </div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
          </div>
        </div>
        <span class="text-500">Out of </span>
        <span class="text-primary-500">{{ 42000 | currency }}</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round" appVanillaTilt>
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Alerts</span>
            <div class="text-900 font-medium text-xl">152 Unread</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-comment text-purple-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">85 </span>
        <span class="text-500">responded</span>
      </div>
    </div>
  </div>
  <p-messages [(value)]="messages" [enableService]="false"></p-messages>

  <div class="flex-row">
    <div class="mt-6">
      <!-- Card Section with Shadow and Rounded Borders -->
      <div
        class="carousel-container max-w-full p-4"
        style="
          background-color: rgba(255, 255, 255, 0.2); /* 20% white */
          backdrop-filter: blur(10px); /* 'Glass' effect */
          border-radius: 16px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        "
      >
        <h2 class="text-center text-primary mb-4">My Investments</h2>
        <!-- Section Title -->

        <p-carousel
          [value]="investment"
          [numVisible]="3"
          [numScroll]="1"
          autoplayInterval="3000"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-investment pTemplate="item">
            @if (investment.status === 1) {
            <div class="carousel-card">
              <div class="card-image">
                <iframe
                  *ngIf="investment.safeIframeUrl"
                  [src]="investment.safeIframeUrl"
                  width="100%"
                  height="100%"
                  frameborder="0"
                  loading="lazy"
                ></iframe>
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="card-tag"
                ></p-tag>
              </div>

              <div class="card-title">
                {{ investment.name }}
              </div>

              <div class="card-stats">
                Funding Goal Reached:
                <span class="card-value">
                  {{
                    (investment.funding && investment.fundingGoal
                      ? (
                          (investment.funding / investment.fundingGoal) *
                          100
                        ).toFixed()
                      : 0) + "%"
                  }}
                </span>
              </div>

              <div class="card-actions">
                <p-button
                  icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                  styleClass="p-button-rounded p-button-primary ml-2"
                  (click)="goToDetails(investment)"
                ></p-button>
              </div>
            </div>
            } @else if (investment.status === 2) {
            <div class="carousel-card">
              <div class="card-image">
                <iframe
                  *ngIf="investment.safeIframeUrl"
                  [src]="investment.safeIframeUrl"
                  width="100%"
                  height="100%"
                  frameborder="0"
                  loading="lazy"
                ></iframe>
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="card-tag"
                ></p-tag>
              </div>
              <div class="card-title">
                {{ investment.name }}
              </div>

              <div class="card-stats">
                Close Date:
                <span class="card-value">{{
                  investment.expectedCloseDate
                }}</span>
              </div>
              <div class="card-actions">
                <p-button
                  icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                  styleClass="p-button-rounded p-button-primary ml-2"
                  (click)="goToCurrentDetails(investment)"
                ></p-button>
              </div>
            </div>
            } @else if (investment.status===3) {
            <div class="carousel-card">
              <div class="card-image">
                <iframe
                  *ngIf="investment.safeIframeUrl"
                  [src]="investment.safeIframeUrl"
                  width="100%"
                  height="100%"
                  frameborder="0"
                  loading="lazy"
                ></iframe>
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="card-tag"
                ></p-tag>
              </div>
              <div class="card-title">
                {{ investment.name }}
              </div>
              <div class="card-stats">
                Duration:
                <span class="card-value">6 Months</span>
              </div>
              <div class="card-stats">
                ROI:
                <span class="card-value roi-value">33.3%</span>
              </div>
            </div>
            }
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <!-- Carousel Content Section -->
  </div>
</div>
