<div class="card">
  <p-tabView>
    <p-tabPanel header="Users">
      <p>
        <p-table
          [value]="investors"
          styleClass="p-datatable-gridlines"
          [tableStyle]="{ 'min-width': '50rem' }"
          selectionMode="single"
          [(selection)]="selectedInvestor"
          dataKey="code"
          (onRowSelect)="onRowSelect($event)"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Investment Count</th>
              <th>Profit</th>
              <th>Intended Investment</th>
              <th>Total Investment</th>
              <th>Is Approved</th>
              <th>Is Public</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-investor>
            <tr [pSelectableRow]="investor">
              <td>{{ investor.username }}</td>
              <td>{{ investor.email }}</td>
              <td>{{ investor.phone }}</td>
              <td>{{ investor.investmentCount }}</td>
              <td>{{ investor.profit }}</td>
              <td>{{ investor.intendedInvestment }}</td>
              <td>{{ investor.investmentAmount }}</td>
              <td>{{ investor.approved ? "Approved" : "Not Approved" }}</td>
              <td>{{ investor.public ? "Public" : "Private" }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p>
    </p-tabPanel>
    <p-tabPanel header="Investments">
      <app-manage-investments />
    </p-tabPanel>
    <p-tabPanel header="Messaging">
      <p>
        <app-manage-messaging />
      </p>
    </p-tabPanel>
  </p-tabView>
</div>
