<!-- Full Page Background -->
<div class="surface-ground min-h-screen p-4 animated-gradient">
  <!-- Your content here -->

  <!-- Image Section with Subtle Shadow -->

  <div class="hero-container">
    <div class="hero-image" appAos="zoom-in">
      <img
        src="https://picsum.photos/1920/500"
        alt="Hero Image"
        width="1920"
        height="500"
        style="display: block; width: 100%; height: 100%; object-fit: cover"
      />
    </div>
    <div class="hero-overlay">
      <h1>Welcome to Bayt Al-Amana</h1>
      <p>Invest with peace of mind.</p>
    </div>
  </div>

  <!-- Carousel Content Section -->
  <div class="mt-6">
    <!-- Card Section with Shadow and Rounded Borders -->
    <div
      class="carousel-container max-w-full p-4"
      style="
        background-color: rgba(255, 255, 255, 0.2); /* 20% white */
        backdrop-filter: blur(10px); /* 'Glass' effect */
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">Open Investments</h2>
      <!-- Section Title -->

      <p-carousel
        [value]="openInvestments"
        [numVisible]="3"
        [numScroll]="1"
        autoplayInterval="3000"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <div class="carousel-card">
            <div class="card-image">
              <img
                src="https://picsum.photos/200/200"
                [alt]="investment.name"
                class="card-img"
              />
              <p-tag
                [value]="getStatusLabel(investment.status)"
                class="card-tag"
              ></p-tag>
            </div>

            <div class="card-title">
              {{ investment.name }}
            </div>

            <div class="card-stats">
              Funding Goal Reached:
              <span class="card-value">
                {{
                  (investment.funding && investment.fundingGoal
                    ? (
                        (investment.funding / investment.fundingGoal) *
                        100
                      ).toFixed()
                    : 0) + "%"
                }}
              </span>
            </div>

            <div class="card-actions">
              <p-button
                icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                styleClass="p-button-rounded p-button-primary"
                (click)="goToDetails(investment)"
              ></p-button>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="mt-6">
    <div
      class="carousel-container max-w-full p-4"
      style="
        background-color: rgba(255, 255, 255, 0.2); /* 20% white */
        backdrop-filter: blur(10px); /* 'Glass' effect */
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">In-Progress Investments</h2>

      <p-carousel
        [value]="inProgressInvestment"
        [numVisible]="3"
        [numScroll]="1"
        autoplayInterval="3000"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <div class="carousel-card">
            <div class="card-image">
              <img
                src="https://picsum.photos/200/200"
                [alt]="investment.name"
                class="card-img"
              />
              <p-tag
                [value]="getStatusLabel(investment.status)"
                class="card-tag"
              ></p-tag>
            </div>
            <div class="card-title">
              {{ investment.name }}
            </div>
            <div class="card-stats">
              Close Date:
              <span class="card-value">{{ investment.expectedCloseDate }}</span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="mt-6">
    <div
      class="carousel-container max-w-full p-4"
      style="
        background-color: rgba(255, 255, 255, 0.2); /* 20% white */
        backdrop-filter: blur(10px); /* 'Glass' effect */
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">Closed Investments</h2>

      <p-carousel
        [value]="closedInvestment"
        [numVisible]="3"
        [numScroll]="1"
        autoplayInterval="3000"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <div class="carousel-card">
            <div class="card-image">
              <img
                src="https://picsum.photos/200/200"
                [alt]="investment.name"
                class="card-img"
              />
              <p-tag
                [value]="getStatusLabel(investment.status)"
                class="card-tag"
              ></p-tag>
            </div>
            <div class="card-title">
              {{ investment.name }}
            </div>
            <div class="card-stats">
              Duration:
              <span class="card-value">6 Months</span>
            </div>
            <div class="card-stats">
              ROI:
              <span class="card-value roi-value">33.3%</span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
