<!-- Full Page Background -->
<div
  class="surface-ground min-h-screen p-4"
  style="background: linear-gradient(to bottom right, #f2f2f2, #e6e6e6)"
>
  <!-- Image Section with Subtle Shadow -->
  <div
    class="bg-auto bg-no-repeat bg-center border-round h-20rem max-w-full mx-auto mt-6 overflow-hidden shadow-3"
    style="
      background-image: url('https://imageplaceholder.net/900x500/eeeeee/ffffff?tag=Summer+beach');
    "
  ></div>

  <!-- Carousel Content Section -->
  <div class="mt-6">
    <!-- Card Section with Shadow and Rounded Borders -->
    <div
      class="card max-w-full p-4"
      style="
        background-color: white;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">Open Investments</h2>
      <!-- Section Title -->

      <p-carousel
        [value]="openInvestments"
        [numVisible]="3"
        [numScroll]="1"
        autoplayInterval="3000"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <!-- Card Container with Padding and Shadow -->
          <div
            class="border-1 surface-border border-round m-2 p-4"
            style="
              width: 250px;
              height: 350px;
              background-color: white;
              border-radius: 16px;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <div class="mb-3">
              <!-- Image with Shadow -->
              <div class="relative mx-auto" style="width: 100%; height: 150px">
                <img
                  src="https://picsum.photos/200/200"
                  [alt]="investment.name"
                  class="w-full h-full border-round"
                  style="
                    object-fit: cover;
                    border-radius: 12px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                  "
                />
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="absolute"
                  [ngStyle]="{
                    'left.px': 5,
                    'top.px': 5,
                    'background-color': '#007bff',
                    color: 'white'
                  }"
                />
              </div>
            </div>

            <div class="mb-3 font-medium text-secondary text-center">
              {{ investment.name }}
            </div>

            <div class="flex justify-content-between align-items-center">
              Funding Goal Reached:
              <ng-container
                *ngIf="
                  investment.funding &&
                    investment.fundingGoal &&
                    investment.funding >= 0 &&
                    investment.fundingGoal > 0;
                  else noFunding
                "
              >
                <div class="mt-0 font-semibold text-xl text-primary">
                  {{
                    (
                      (investment.funding / investment.fundingGoal) *
                      100
                    ).toFixed(2)
                  }}%
                </div>
              </ng-container>
              <ng-template #noFunding>
                <div class="mt-0 font-semibold text-xl text-primary">0%</div>
              </ng-template>
            </div>
            <div class="flex justify-content-between mt-2">
              <p-button
                icon="pi pi-heart"
                severity="secondary"
                [outlined]="true"
                styleClass="p-button-rounded p-button-secondary p-button-outlined shadow-1"
              ></p-button>
              <p-button
                icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                styleClass="ml-2 p-button-rounded p-button-primary shadow-1"
                (click)="goToDetails(investment)"
              ></p-button>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="mt-6">
    <div
      class="card max-w-full p-4"
      style="
        background-color: white;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">In-Progress Investments</h2>

      <p-carousel
        [value]="inProgressInvestment"
        [numVisible]="3"
        [numScroll]="1"
        autoplayInterval="3000"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <div
            class="border-1 surface-border border-round m-2 p-4"
            style="
              width: 250px;
              height: 350px;
              background-color: white;
              border-radius: 16px;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <div class="mb-3">
              <div class="relative mx-auto" style="width: 100%; height: 150px">
                <img
                  src="https://picsum.photos/200/200"
                  [alt]="investment.name"
                  class="w-full h-full border-round"
                  style="
                    object-fit: cover;
                    border-radius: 12px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                  "
                />
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="absolute"
                  [ngStyle]="{
                    'left.px': 5,
                    'top.px': 5,
                    'background-color': '#007bff',
                    color: 'white'
                  }"
                />
              </div>
            </div>
            <div class="mb-3 font-medium text-secondary text-center">
              {{ investment.name }}
            </div>
            <div class="flex justify-content-between align-items-center">
              Close Date:
              <div class="mt-0 font-semibold text-xl text-primary">
                <!--02/15/2025-->
                {{ investment.expectedCloseDate }}
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="mt-6">
    <div
      class="card max-w-full p-4"
      style="
        background-color: white;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 class="text-center text-primary mb-4">Closed Investments</h2>

      <p-carousel
        [value]="closedInvestment"
        [numVisible]="3"
        [numScroll]="1"
        autoplayInterval="3000"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-investment pTemplate="item">
          <div
            class="border-1 surface-border border-round m-2 p-4"
            style="
              width: 250px;
              height: 350px;
              background-color: white;
              border-radius: 16px;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <div class="mb-3">
              <div class="relative mx-auto" style="width: 100%; height: 150px">
                <img
                  src="https://picsum.photos/200/200"
                  [alt]="investment.name"
                  class="w-full h-full border-round"
                  style="
                    object-fit: cover;
                    border-radius: 12px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                  "
                />
                <p-tag
                  [value]="getStatusLabel(investment.status)"
                  class="absolute"
                  [ngStyle]="{
                    'left.px': 5,
                    'top.px': 5,
                    'background-color': '#007bff',
                    color: 'white'
                  }"
                />
              </div>
            </div>
            <div class="mb-3 font-medium text-secondary text-center">
              {{ investment.name }}
            </div>
            <div class="flex justify-content-between align-items-center">
              Duration:
              <div class="mt-0 font-semibold text-xl text-primary">
                6 Months
              </div>
            </div>
            <div class="mt-2 flex justify-content-between align-items-center">
              ROI:
              <div class="mt-0 font-semibold text-xl text-green-700">33.3%</div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
